#title{
	text-align: center;
	padding: 50px 0px 0px 0px;
}

.body_text{
	text-align: justify;
}

h1{
	font-size: 3em;
}
h2{
	font-size: 2.5rem;
}
h3{
	font-size: 2rem;
	text-align: center;
}
p{
	font-size: 1.25rem;
}

#resume{
	margin-top: 20px;
	box-shadow: 0 0 5px 2px rgba(0, 140, 186, 0.5);
}

#resume_title{
	text-align: center;
}

#action{
	margin-top: 20px;
}

#resume:hover {
	transform: scale(1.1);
	box-shadow: 0 0 5px 2px rgba(0, 140, 186, 0.5);
	cursor: pointer;
}

#headshot{
	float: left; 
	border: 8px solid #626f9d;
	box-shadow: 0 0 5px 2px rgba(0, 140, 186, 0.5);
	margin-bottom: 50px;
}

.sup_img{
	border: 8px solid #626f9d;
	box-shadow: 0 0 5px 2px rgba(0, 140, 186, 0.5);
	margin-bottom: 50px;
}

/*popup window*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 100%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}