html {
  overflow: hidden;
}

.text {
  text-align: center;
}

.container {
  margin-top: 10rem;
}

ul.my_list {
  display: inline-block;
  text-align: left;
}

.center {
  background-color: #4d98b2;
  border-radius: 50px;
  padding: 25px;
}

#more-proj {
  text-align: center;
  margin-top: 25px;
}

/* scroll bar */

body {
  overflow:auto;
}
