#title {
  text-align: center;
  padding: 65px 0px 0px 0px;
}

.body_text {
  text-align: justify;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
  text-align: center;
}
p {
  font-size: 1.25rem;
}

#resume {
  margin-top: 20px;
  box-shadow: 0 0 5px 2px #4d98b2;
}

#resume_title {
  text-align: center;
  background-color: #4d98b2;
  border-radius: 50px;
  margin: 10px 0;
  padding: 10px 0;
}

#action {
  margin-top: 20px;
}

#resume:hover {
  transition: 0.3s;
  transform: scale(1.1);
  box-shadow: 0 0 5px 2px #4d98b2;
  cursor: pointer;
  transition: 0.3s;
}

#headshot {
  float: left;
  border: 8px solid #626f9d;
  box-shadow: 0 0 5px 2px #4d98b2;
  margin-bottom: 20px;
}

.sup_img {
  border: 8px solid #626f9d;
  box-shadow: 0 0 5px 2px #4d98b2;
  margin-bottom: 10px;
}

/*popup window*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 100%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.main-body {
  display: flex;
  flex-wrap: wrap;
}

.col-lg-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary {
  background-color: #4d98b2;
  border-radius: 25px;
  margin: 10px 0;
  padding: 0 10px;
}

.work {
  background-color: #4d98b2;
  border-radius: 50px;
  margin: 10px 0;
}

.future {
  background-color: #4d98b2;
  border-radius: 25px;
  margin: 10px 0;
  padding: 0 10px;
}

.foot-img {
  /* background-color: blue; */
  display: flex;
  flex-wrap: wrap;
  max-width: 320px;
  /* align-items: center; */
  /* justify-content: center; */
}

.img-foot {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* align-items: center; */
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  max-height: 600px;
}

.certification {
  background-color: #4d98b2;
  border-radius: 50px;
  margin: 10px 0;
}

.education {
  background-color: #4d98b2;
  border-radius: 50px;
  margin: 10px 0;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}
